@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    
}

.container {
    background-color: var(--slate-300);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    padding: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 325px;
    border-radius: 15px;
    text-align: center;
    padding: 1.2rem;
    border-radius: 1rem;
    background-color: white;
}

.img-container {
    border-radius: 0.5rem;
}
img {
    border-radius: 0.5rem;
    display: inline-block;
    width: 100%;
}

h1 {
    color: var(--slate-900);
    font-size: 24px;
}

p {
    color: var(--slate-500);
    font-size: 15px;
    margin-bottom: 1rem;
}